.app {
  &.dark {
    background-color: #282c34;
    color: #ffffff;
    .form-wrapper {
      .model {
        background: rgba(255, 255, 255, 0.3);
        .label {
          color: #b5b5b5;
        }
      }
    }
  }
  &.light {
    background-color: #ffffff;
    color: #282c34;
  }
  h1,
  h2 {
    font-weight: 500;
  }
  .app-header {
    font-size: 1rem;
    padding: 20px 0 20px;
    img {
      color: #61dafb;
      height: 75%;
      margin-right: 10px;
      vertical-align: middle;
    }
    .logo-wrapper {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logos {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      img.app-logo {
        pointer-events: none;
      }
      img.angular-logo {
        height: 100%;
      }
    }
    .desc {
      margin: 20px 0;
    }
    .theme-toggler {
      position: relative;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      cursor: pointer;
      &.dark {
        background-color: #ffffff;
      }
      &.light {
        background-color: #282c34;
      }
    }
  }
  .container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
  }

  .demo-form {
    width: 100%;
    margin-top: 20px;
  }

  .form-wrapper {
    display: flex;
    padding-bottom: 20px;

    form {
      width: 50%;
      margin-right: 20px;
      .form-field {
        padding: 5px 0;
      }
    }

    .model {
      width: 50%;
      background-color: #f6f6f6;
      border: 1px solid #edebeb;
      margin: 0;
      border-radius: 0.5rem;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: auto;
      .label {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
        color: #909090;
        padding: 0.6rem;
        text-align: right;
        width: 120px;
      }

      .value {
        font-size: 1.1rem;
      }
    }
  }
}
