.text-input {
  input {
    padding: 1rem;
    &:invalid {
      box-shadow: none;
    }
  }
  ::slotted(span) {
    position: absolute;
    height: 3.3rem;
    line-height: 3.3rem;
    width: 3rem;
    text-align: center;
    color: var(--color-icon);
  }
}
