.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 0 -5px;
  input {
    width: 4rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3.3rem;
    margin: 0 5px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  &.full-width {
    width: 100%;
    input {
      flex-grow: 1;
    }
  }
}
