.datepicker-wrapper {
  position: absolute;
  width: 100%;
  min-width: 100%;
  border: 1px solid var(--color-border);
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  height: 3.3rem;
  overflow: hidden;
  box-sizing: border-box;
  transition: min-width 0.2s;

  &.focus,
  &:focus {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
  }

  &:not(.disabled):hover,
  &:not(.disabled).hover {
    background: #ffffff;
  }

  .datepicker-button {
    position: absolute;
    width: 100%;
    height: calc(3.3rem - 2px);
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    box-sizing: border-box;
    outline: solid 1px transparent;
    line-height: calc(1.3rem - 2px);
    color: var(--color-placeholder);

    .disabled {
      cursor: not-allowed;
    }

    .calender-icon {
      position: absolute;
      right: 1rem;
      top: 1rem;
      height: 12px;
      width: 12px;
      border: 1px solid var(--color-placeholder);
      border-radius: 4px;
      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 4px;
        height: 4px;
        background-color: var(--color-placeholder);
        border-radius: 50%;
      }
    }
  }

  .datepicker {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
    max-height: 0;
    margin-top: calc(3.3rem - 2px);
    transition: max-height 0.8s;

    // Date naviator
    .date-nav {
      position: relative;
      background-color: var(--color-secondary);
      height: 3.3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;

      .date-link {
        height: 3.3rem;
        line-height: 3.3rem;
        cursor: pointer;
        box-sizing: border-box;

        &.selected,
        &:hover {
          border-bottom: 2px solid var(--color-primary);
        }
      }

      .arrow-button {
        position: relative;
        padding: 5px;
        cursor: pointer;
        height: 10px;

        .arrow {
          border: solid var(--color-placeholder);
          border-width: 0 1px 1px 0;
          padding: 3px;

          &.prev {
            transform: rotate(135deg);
          }

          &.next {
            transform: rotate(-45deg);
          }
        }
      }

      // Date preview
      .preview {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        height: 100%;
        color: var(--color-primary);

        .separator {
          background-color: var(--color-label);
          width: 3px;
          height: 3px;
          border-radius: 50%;
          margin: 0 4px;
        }
      }
    }

    // Calender
    .calender {
      position: relative;
      height: auto;
      padding: 0.5rem 1rem 1rem;
      font-size: 1rem;

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 1rem 0;
        > * {
          width: 25px;
          height: 25px;
          line-height: 25px;
          border: 1px solid transparent;
          border-radius: 50%;
          cursor: pointer;

          &.selected {
            background-color: var(--color-primary);
            color: var(--color-white);
            box-shadow: 0 0 0 5px var(--color-secondary);
          }
        }

        > .date:hover,
        > .month:hover {
          border-color: var(--color-primary);
        }

        > .date:not(.current) {
          color: var(--color-label);
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.header {
          font-size: 0.8rem;
          margin: 0;
          color: var(--color-label);
        }
      }

      .item-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0.5rem -0.5rem;
        .item {
          width: 30%;
          height: 25px;
          line-height: 25px;
          border: 1px solid transparent;
          cursor: pointer;
          font-size: 1rem;
          border-radius: 5px;
          margin: 1rem 0;
          text-align: center;

          &:hover {
            border-color: var(--color-primary);
          }

          &.selected {
            background-color: var(--color-primary);
            color: var(--color-white);
            box-shadow: 0 0 0 5px var(--color-secondary);
          }
        }
      }
    }
  }

  &.expanded {
    height: auto;
    min-width: 330px;
    max-height: 500px;
    background: #ffffff;
    border: 1px solid var(--color-primary);
    z-index: 1;

    .datepicker {
      max-height: 500px;
      border-top: 1px solid var(--color-border);
    }
  }
}
